<!--静态展示-->
<div  *ngIf="!formCard">
  <nz-card nzHoverable class="rzl_record_list" *ngFor="let record of recordLokkArr" [nzTitle]="record.goods_name" [nzExtra]="staticTemplate">
    <app-text-grid [name]="'进价'" [content]="record.price || 0"></app-text-grid>
    <app-text-grid [name]="'数量'" [content]="record.count || 0"></app-text-grid>
    <app-text-grid [name]="'单位'" [content]="record.unit"></app-text-grid>
    <app-text-grid [name]="'进货时间'" [content]="record.record_time | date:'yyyy-MM-dd HH:mm:ss'"></app-text-grid>
    <app-text-grid [name]="'过期时间'" [content]="record.expiration_date || ''"></app-text-grid>
    <app-text-grid [name]="'操作人'" [content]="record.operator_account"></app-text-grid>
  </nz-card>
  <ng-template  #staticTemplate>
      <span appTextHover *ngIf="recordType === 'depot_in'" (click)="operateRecord('depot_in')">进货</span>
      <span appTextHover *ngIf="recordType === 'depot_out'" (click)="operateRecord('depot_out')" >发货</span>
  </ng-template>
</div>
<!--表单卡片-->
<div  *ngIf="formCard">
    <nz-card nzHoverable class="rzl_record_list" *ngFor="let record of recordListArr" nzTitle="{{record.name + '(' + operateForm.controls.unit.value + ')' }}" [nzExtra]="activeTemplate">
        <form nz-form [formGroup]="operateForm">
          <nz-form-item *ngIf="recordType === 'depot_in'">
            <nz-form-label nzRequired [nzSpan]="5" style="text-algin:left">单价</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <nz-input-group [nzAddOnAfter]="addOnAfterIconTemplate">
                  <input nz-input formControlName="price" name="price" [readonly]="recordType !== 'depot_in'">
                </nz-input-group>
                <nz-form-explain *ngIf="operateForm.get('price').dirty && operateForm.get('price').errors">必须填写</nz-form-explain>
              </nz-form-control>
            <ng-template #addOnAfterIconTemplate>
              <span>{{operateForm.controls.unit.value}}</span>
            </ng-template>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired [nzSpan]="5">数量</nz-form-label>
            <nz-form-control [nzSpan]="18">
                <input nz-input formControlName="count" name="count">
              <nz-form-explain *ngIf="operateForm.get('count').dirty && operateForm.get('count').errors">必须是数字必须填写</nz-form-explain>
            </nz-form-control>
          
          </nz-form-item>
          <nz-form-item>
              <nz-form-label nzRequired [nzSpan]="5">{{recordType === 'depot_in'?'进货仓库':'出货仓库'}}</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <nz-select name="operate_depot" formControlName="operate_depot" (ngModelChange)="getOperateStore($event)">
                  <nz-option *ngFor="let option of storelist" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                  <nz-form-explain *ngIf="operateForm.get('source').dirty && operateForm.get('source').errors">必须是数字必须填写</nz-form-explain>
                </nz-select>
              </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="!IsMaster && recordType === 'depot_in'">
            <nz-form-label nzRequired [nzSpan]="5">进货类型</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="selectDepotInType" [ngModelOptions]="{standalone: true}" (ngModelChange)="depotInTpye($event)">
                <label nz-radio nzValue="B">总仓库进货</label>
                <label nz-radio nzValue="A">供应商进货</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="recordType === 'depot_in' && !IsMaster && selectDepotInType !== 'A'">
            <nz-form-label nzRequired [nzSpan]="5">仓库进货</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-select name="select-error" formControlName="from_depot">
                <nz-option  nzLabel="总仓库" [nzValue]="1"></nz-option>
                <nz-form-explain *ngIf="operateForm.get('from_depot').dirty && operateForm.get('from_depot').errors">必须是数字必须填写</nz-form-explain>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="recordType === 'depot_in' && selectDepotInType === 'A'">
            <nz-form-label nzRequired [nzSpan]="5">供应商</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-select name="select-error" formControlName="supplier">
                <nz-option *ngFor="let option of sourceslist" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
                <nz-form-explain *ngIf="operateForm.get('supplier').dirty && operateForm.get('supplier').errors">必须是数字必须填写</nz-form-explain>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="recordType === 'depot_out'">
              <nz-form-label nzRequired [nzSpan]="5">出货源（店面）</nz-form-label>
              <nz-form-control [nzSpan]="18">
                <nz-select name="shop" nzPlaceHolder="请选择出货店面" formControlName="shop">
                  <nz-option *ngFor="let option of shopList" [nzLabel]="option.name" [nzValue]="option.id"></nz-option>
                  <nz-form-explain *ngIf="operateForm.get('source').dirty && operateForm.get('source').errors">选择店面</nz-form-explain>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="recordType === 'depot_in'">
              <nz-form-label nzRequired [nzSpan]="5">生产日期</nz-form-label>
              <nz-form-control [nzSpan]="18">
                  <nz-date-picker nzPlaceHolder="选择生产日期" [nzFormat]="dateFormat" formControlName="production_date" ></nz-date-picker>
                  <nz-form-explain *ngIf="operateForm.get('production_date').dirty && operateForm.get('production_date').errors">填写生产日期</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item *ngIf="recordType === 'depot_in'">
              <nz-form-label nzRequired [nzSpan]="5">过期日期</nz-form-label>
              <nz-form-control [nzSpan]="18">
                  <nz-date-picker nzPlaceHolder="选择过期日期" [nzFormat]="dateFormat" formControlName="expiration_date" ></nz-date-picker>
                  <nz-form-explain *ngIf="operateForm.get('expiration_date').dirty && operateForm.get('expiration_date').errors">填写过期时间</nz-form-explain>
              </nz-form-control>
            </nz-form-item>
        </form>
        
        <ng-template  #activeTemplate>
            <!-- <span appTextHover  >清空</span> -->
            <button nz-button nzType="dashed" (click)="clearForm(record)">清空</button>
            <nz-divider nzType="vertical"></nz-divider>
            <button nz-button nzType="primary" (click)="submitForm(record)" [nzLoading]="IsBtnLoading">确认</button>
            <!-- <span appTextHover (click)="submitForm(record)">确认</span> -->
        </ng-template>
    </nz-card>
  </div>



