<div class="rzl_chart_filter">
  <app-row-grid [T_row]="3" [C_row]="21" [Title]="'仓库选择'">
    <nz-tag class="rzl_chart_tags" nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">总仓库</nz-tag>
    <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="checkChange($event)">仓库1</nz-tag>
  </app-row-grid>
  <app-row-grid [T_row]="3" [C_row]="21" [Title]="'查询类型'">
    <nz-tag nzMode="checkable" [nzChecked]="true" (nzCheckedChange)="checkChange($event)">数量</nz-tag>
    <nz-tag nzMode="checkable" [nzChecked]="false" (nzCheckedChange)="checkChange($event)">成本</nz-tag>
  </app-row-grid>
  <app-row-grid [T_row]="3" [C_row]="21" [Title]="'时间选择'">
    <nz-month-picker [(ngModel)]="date" (ngModelChange)="checkChange($event)" nzPlaceHolder="选择查询月份"></nz-month-picker>
  </app-row-grid>
</div>

<div echarts [initOpts]="initOpts" [options]="options" class="demo-chart"
(chartInit)="onChartEvent($event, 'chartInit')"
(chartClick)="onChartEvent($event, 'chartClick')"
(chartDblClick)="onChartEvent($event, 'chartDblClick')"
(chartMouseDown)="onChartEvent($event, 'chartMouseDown')"
(chartMouseUp)="onChartEvent($event, 'chartMouseUp')"
(chartMouseOver)="onChartEvent($event, 'chartMouseOver')"
(chartMouseOut)="onChartEvent($event, 'chartMouseOut')"
(chartGlobalOut)="onChartEvent($event, 'chartGlobalOut')"
(chartContextMenu)="onChartEvent($event, 'chartContextMenu')"
(chartDataZoom)="onChartEvent($event, 'chartDataZoom')"
></div>
