
<div *ngIf="OpenModel" class="model_body" >
    <div class="model_body" [ngStyle]="{'width': (width?width:500)+ 'px'}">
        <div class="model_title">
            {{title}}
        </div>
        <div class="model_content">
            <ng-content></ng-content>
        </div>
        <div class="model_footer">
            <button nz-button [nzType]="'default'" (click)="closeModel()">取消</button>
            <button *ngIf="type" nz-button [nzType]="'primary'" (click)="sure()" style="margin-left:20px;">确定</button>
        </div>
    </div>
</div>
