<div nz-row class="text-grid">
    <div nz-col nzSpan="6" class="rzl_tg_title">{{name}}：</div>
    <div nz-col nzSpan="18" class="rzl_tg_content" >
        <nz-list 
        [nzDataSource]="ViewListArr"
        [nzRenderItem]="item"
        nzBordered>
          <ng-template #item let-item>
            <nz-list-item [nzContent]="ListContent"></nz-list-item>
            <ng-template #ListContent>
              <div class="rzl_recordlist_content">
                <p class="title">{{item.goods_name}}</p>
                <p>进价：<span class="red">{{item.price || 0}}</span></p>
                <p *ngIf="type==='import'">进货数量：<span class="red">{{item.count}}</span></p>
                <p *ngIf="type==='export'">发货数量：<span class="red">{{item.count}}</span></p>
                <p>单位：{{item.unit}}</p>
                <p>进货时间：{{item.record_time | date:'MM/dd HH:mm'}}</p>
              </div>
            </ng-template>
          </ng-template>
      </nz-list>
     <div class="loadmore_record">
       <span appTextHover (click)="loadmoreRecord()">查看更多记录>></span>
     </div>
    </div>
  </div>
  