<nz-upload
nzAction="http://new7day.oss-cn-beijing.aliyuncs.com/"
nzListType="picture-card"
[(nzFileList)]="fileList"
[nzShowButton]="fileList.length < 2"
[nzPreview]="handlePreview"
[nzRemove] = "removeImg"
(nzChange)="uploadImg($event)">
  <i class="anticon anticon-plus"></i>
  <div class="ant-upload-text">上传图片</div>
</nz-upload>
<nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null" (nzOnCancel)="previewVisible=false">
  <ng-template #modalContent>
    <img [src]="previewImage" [ngStyle]="{ 'width': '100%' }" />
  </ng-template>
</nz-modal>
