
  <!--条件查询-->
  <app-search [seachArray]="searchArray"  (callBack)="refresh($event)"></app-search>
  <!--操作层-->  
  <app-handle-layout>
    <button nz-button [nzType]="'primary'" (click)="add()">新增商品</button>
    <app-upload-btn [uploadUrl]="uploadUrl" (callBack)="searchStream.next()"></app-upload-btn>
  </app-handle-layout>
  <div class="search-result-list">
      <nz-table #productManageTable 
      [nzData]="dataList?.results"
      [nzScroll]="{x:'1500px'}"
      [nzShowPagination]="false"
      [nzPageSize] = "dataList?.page_size"
      [nzLoading]="listLoading">
          <thead>
            <tr>
              <th nzWidht="100px" nzLeft="0px">商品名称</th>
              <th>商品编码</th>
              <th>商品图片</th>
              <th>商品进价</th>
              <th>商品售价</th>
              <th>规格</th>
              <th>描述</th>
              <th nzWidth="100px" nzRight="0px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of productManageTable.data">
              <td nzWidht="100px" nzLeft="0px">{{data.name}}</td>
              <td>{{data.code}}</td>
              <td>
               <app-img-list [imgUrl]="data.img"></app-img-list>
              </td>
              <td>{{data.in_price}}</td>
              <td>{{data.sale_price}}</td>
              <td>{{data.unit}}</td>
              <td>{{data.desc}}</td>
              <td nzRight="0px">
                <nz-tag [nzColor]="'blue'" (click) ="reviseDetail(data.id)">修改</nz-tag>
                <app-comfirm-alert [info]="'删除'" [title]="'是否确认删除商品'" (callBack)="deleteProduct($event,data.id)"></app-comfirm-alert>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <app-pagination 
        [nzTotal]="dataList?.count || 0" 
        [nzPageSize]="searchObj.page_size"
        (nzPageIndexChange)="changPageIndex($event)" 
        (nzPageSizeChange)="PageSizeChange($event)"></app-pagination>
  </div>
  <!--模态框-->
  <app-drawer [visible]="OpenDraw" [title]="formTitle" (callBack)="dataBack($event)">
      <form nz-form [formGroup]="prodcutForm"> 
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired>商品名称</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="name" placeholder="请输入商品名称">
                  <nz-form-explain *ngIf="prodcutForm.get('name').dirty && prodcutForm.get('name').errors">请输入商品名称</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired>搜索关键字</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="short_name" placeholder="请输入搜索关键字(小写)">
                    <nz-form-explain *ngIf="prodcutForm.get('short_name').dirty && prodcutForm.get('short_name').errors">请输入搜索关键字</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label nzRequired>商品编码</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input type="text" formControlName="code" nz-input placeholder="请输入商品编码">
                  </nz-input-group>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>商品市场进价</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="in_price" placeholder="请输入商品进价">
                  </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>商品市场售价</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="sale_price" placeholder="请输入商品售价">
                  </nz-form-control>
              </nz-form-item>
            </div>
          </div>
          <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label nzRequired>规格(如：元/袋)</nz-form-label>
                  <nz-form-control>
                      <input nz-input formControlName="unit" placeholder="请输入规格">
                      <nz-form-explain *ngIf="prodcutForm.get('unit').dirty && prodcutForm.get('unit').errors">请输入规格</nz-form-explain>
                  </nz-form-control>
                </nz-form-item>
              </div>
              <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label>预警库存</nz-form-label>
                    <nz-form-control>
                        <input nz-input formControlName="warn_stock" placeholder="请输入预警库存(默认值为10)">
                        <nz-form-explain *ngIf="prodcutForm.get('warn_stock').dirty && prodcutForm.get('warn_stock').errors">请输入预警库存</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
            </div>
            <div nz-row nzGutter="8">
                <nz-form-item>
                  <nz-form-label>商品图片</nz-form-label>
                  <nz-form-control>
                    <app-img-upload (callBack)="getImg($event)" [ImgUrl]="prodcutForm.value.img"></app-img-upload>
                  </nz-form-control>
                </nz-form-item>
            </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label>描述</nz-form-label>
                <nz-form-control>
                  <textarea nz-input formControlName="desc" placeholder="请输入描述内容" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
  </app-drawer>