.header{
   background: hsl(209, 100%, 8%);
   padding:0 2%;
   position:absolute;
   width:86%;
   z-index: 999;
   .user-name{
       float: right;
       color: #fff;
   }
}
.content{
    margin:24px 16px 0;
    margin-top: 80px;
}