<app-login [Islogin]="Islogin" (login)="login()"></app-login>

<nz-layout style="height:100%" *ngIf="!Islogin">
  <nz-sider nzCollapsible [nzCollapsedWidth]="0" [nzBreakpoint]="'lg'" >
    <div class="logo">
    </div>
    <div class="menu">
      <app-menu [Islogin]="Islogin" [RightsMenus]="RightsMenus" [ActiveMenus]="ActiveMenus" (menus)="getMenus($event)"></app-menu>
    </div>
  </nz-sider>
  <nz-layout>
    <nz-header class="header">
      <div class="user-name">
        欢迎用户
        <nz-badge [nzCount]="count">
          <a class="head-example">{{loginer_name}}</a>
        </nz-badge>
        <span class="login_out" (click)="ModelVisible = true">退出</span>|
        <span class="login_out">修改密码</span>
      </div>
    </nz-header>
    <nz-content class="content">
      <app-menu-list [MenuList]="ActiveMenus" (remove)="removeMenu($event)"></app-menu-list>
          <div style="padding:24px; background: #fff; min-height: 360px;">
            <router-outlet></router-outlet>
          </div>
    </nz-content>
    <nz-footer style="text-align: center;">新七天仓库管理系统</nz-footer>
  </nz-layout>
</nz-layout>

<app-model [OpenModel]="ModelVisible" [type]="true" [title]="ModelTitle" (close)="ModelVisible = false" (callBack)="loginOut()" [width]="600">
   是否确认退出登录
</app-model>
