
 <!--条件查询-->
 <app-search [seachArray]="searchArray"  (callBack)="searchData($event)"></app-search>
 <!--操作层-->  
 <!-- <div nz-row style="margin-top: 16px;">
     <div nz-col [nzSpan]="24" style="text-align: left;">
       <button nz-button [nzType]="'primary'" (click)="add()">批量进货</button>
       <button nz-button [nzType]="'primary'" (click)="add()" style="margin-left:20px">批量发货</button>
     </div>
   </div> -->
 <div class="search-result-list">
     <nz-table #productManageTable 
     [nzData]="dataList?.results"  
     (nzCurrentPageDataChange)="currentPageDataChange($event)"
     [nzShowPagination]="false"
     [nzScroll]="{x:'1500px'}"
     [nzLoading]="listLoading">
         <thead>
           <tr>
             <th nzShowCheckbox [(nzChecked)]="allChecked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="checkAll($event)"></th>
             <th nzWidht="100px" nzLeft="0px">商品名称</th>
             <th nzLeft="112px">库存状态</th>
             <th>商品编码</th>
             <th>所属仓库</th>
             <th>库存</th>
             <th>操作人</th>
             <th>商品最近进价</th>
             <th>商品最近售价</th> 
             <th>单位</th>
             <th>规格</th>
             <th>描述</th>
             <th nzWidth="100px" nzRight="0px">操作</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let data of productManageTable.data">
             <td nzShowCheckbox [(nzChecked)]="data.is_book" (nzCheckedChange)="checkAll($event)"></td>
             <td nzWidht="100px" nzLeft="0px">{{data.name}}</td>
             <td nzLeft="112px" [ngStyle]="{color:(data.stock_status===0?'red':'rgb(81, 247, 81)')}">{{data.stock_status===0?'缺货':'正常'}}</td>
             <td>{{data.code}}</td>
             <td>总仓库</td>
             <td>{{data.current_depot_stock}}</td>
             <td>{{data.last_operator_name}}</td>
             <td>{{data.last_price}}</td>
             <td>{{data.sale_price}}</td>
             <td>{{data.company}}</td>
             <td>{{data.unit}}</td>
             <td>{{data.desc}}</td>
        
             <td nzRight="0px">
              <nz-tag [nzColor]="'blue'" (click) ="lookDetail(data)">查看</nz-tag>
              <nz-tag [nzColor]="'blue'" (click)="cancelProduct(data,'depot_in')">进货</nz-tag>
              <nz-tag [nzColor]="'blue'" (click)="cancelProduct(data,'depot_out')">发货</nz-tag>
             </td>
           </tr>
         </tbody>
       </nz-table>
       <app-pagination 
       [nzTotal]="dataList?.count || 0" 
       [nzPageSize]="searchObj.page_size"
       (nzPageIndexChange)="changPageIndex($event)" 
       (nzPageSizeChange)="PageSizeChange($event)"></app-pagination>
 </div>
<!--进出货弹窗-->
 <app-model [OpenModel]="ModelVisible" [title]="ModelTitle" (close)="modelCancel()" (callBack)="stocCallBack($event)" [width]="800">
    <app-record-card [recordListArr]="recordArr" [recordType]="recordType" [formCard]="true" [IsMaster]="true" (callBack)="stocCallBack($event)" ></app-record-card>
</app-model>
<!--进货出货详情-->
<app-drawer [visible]="OpenDraw" [maskClose]="drawerMaskClose" [title]="drawerTitle" [width]="720" [NoOperate]="true" (callBack)="closeDraw($event)">
    <!--商品基本信息-->
    <app-text-grid *ngFor="let pro of ProStockArr" [name]="pro.name" [content]="pro.content" [type]="pro.type"></app-text-grid>
    <!--进发货-->
    <app-product-record [name]="'进货记录'" [type]="operate_type.import" [recordArr]="importOrderArr" (loadMore)="lookMoreRecord($event)"></app-product-record>
    <app-product-record [name]="'发货记录'" [type]="operate_type.export" [recordArr]="exportOrderArr" (loadMore)="lookMoreRecord($event)"></app-product-record>
    <!--二层弹窗-->
    <app-drawer [visible]="OpenDrawList" [maskClose]="drawerMaskClose" [title]="drawerListTitle" [width]="400" [NoOperate]="true" (callBack)="closeChildDraw($event)">
      <app-record-card [recordListArr]="recordArr" [recordType]="recordType" [currentID]="currentObj?.id"></app-record-card>
    </app-drawer>
  </app-drawer>