
 <!--条件查询-->
 <app-search [seachArray]="searchArray"  (callBack)="searchData($event)"></app-search>
 <!--操作层-->  
 <div nz-row style="margin-top: 16px;">
     <div nz-col [nzSpan]="24" style="text-align: left;">
       <!-- <button nz-button [nzType]="'primary'" (click)="add()">新增商品</button> -->
     </div>
   </div>
 <div class="search-result-list">
     <nz-table #productManageTable 
     [nzData]="dataList"  
     [nzShowPagination]="false"
     [nzScroll]="{x:'1500px'}"
     [nzLoading]="listLoading">
         <thead>
           <tr>
             <th nzWidht="100px" nzLeft="0px">商品名称</th>
             <th nzLeft="112px">库存状态</th>
             <th>商品编码</th>
             <th>商品图片</th>
             <th>所属仓库</th>
             <th>库存</th>
             <th>操作人</th>
             <th>商品进价</th>
             <th>商品售价</th> 
             <th>单位</th>
             <th>规格</th>
             <th>描述</th>
             <th nzWidth="100px" nzRight="0px">操作</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let data of productManageTable.data">
             <td nzWidht="100px" nzLeft="0px">{{data.name}}</td>
             <td nzLeft="112px" [ngStyle]="{color:(data.status==='缺货'?'red':'rgb(81, 247, 81)')}">{{data.status}}</td>
             <td>{{data.code}}</td>
             <td>{{data.image}}</td>
             <td>{{data.storage}}</td>
             <td>{{data.store}}</td>
             <td>{{data.maker}}</td>
             <td>{{data.in_price}}</td>
             <td>{{data.sale_price}}</td>
             <td>{{data.company}}</td>
             <td>{{data.size}}</td>
             <td>{{data.describe}}</td>
        
             <td nzRight="0px">
              <nz-tag [nzColor]="'blue'" (click) ="lookDetail()">查看</nz-tag>
              <nz-tag [nzColor]="'blue'">进货</nz-tag>
              <nz-tag [nzColor]="'blue'">发货</nz-tag>
             </td>
           </tr>
         </tbody>
       </nz-table>
       <app-pagination 
       [nzTotal]="dataList?.count || 0" 
       [nzPageSize]="searchObj.page_size"
       (nzPageIndexChange)="changPageIndex($event)" 
       (nzPageSizeChange)="PageSizeChange($event)"></app-pagination>
 </div>