
 <!--条件查询-->
 <app-search [seachArray]="searchArray"  (callBack)="searchData($event)"></app-search>
  <!--记录查询-->
  <div class="search-result-list">
     <nz-table #RecordTable 
     [nzData]="dataList?.results"  
     [nzShowPagination]="false"
     [nzPageSize] = "searchObj.page_size"
     [nzScroll]="{x:'1500px'}"
     [nzLoading]="listLoading">
         <thead>
           <tr>
             <th nzWidht="100px" nzLeft="0px">商品名称</th>
             <th>订单类型</th>
             <th>货物状态</th>
             <th>进价</th>
             <th>数量</th>
             <th>成本（元）</th>
             <th>发货店面</th>
             <th>规格</th>
             <th>商品过期日</th>
             <th>操作人</th>
             <th>操作时间</th> 
             <th nzWidth="100px" nzRight="0px">操作</th>
           </tr>
         </thead>
         <tbody>
           <tr *ngFor="let data of RecordTable.data">
             <td nzWidht="100px" nzLeft="0px">{{data.goods_name}}</td>
             <td>{{data.record_type==='depot_in'?(!data.from_depot?'进货':'仓库转移'):'出货'}}</td>
             <td [ngStyle]="{color:(orderStatus(data.expiration_date) ==='即将过期'?'red':'rgb(81, 247, 81)')}">{{orderStatus(data.expiration_date)}}</td>
             <td>{{data.price}}</td>
             <td>{{data.count}}</td>
             <td>{{data.amount}}</td>
             <td>{{data.shop_name|| "----"}}</td>
             <td>{{data.unit}}</td>
             <td>{{data.expiration_date}}</td>
             <td>{{data.operator_account}}</td>
             <td>{{data.record_time| date:'yyyy-MM-dd HH:mm:ss'}}</td>
             <td nzRight="0px">
                <nz-tag [nzColor]="'blue'" (click) ="deleteOrder(data)">删除订单</nz-tag>
              <nz-tag [nzColor]="'blue'" (click) ="searchStock(data)">库存查询</nz-tag>
             </td>
           </tr>
         </tbody>
       </nz-table>
       <app-pagination 
       [nzTotal]="dataList?.count || 0" 
       [nzPageSize]="searchObj.page_size"
       (nzPageIndexChange)="changPageIndex($event)" 
       (nzPageSizeChange)="PageSizeChange($event)"></app-pagination>
 </div>