<div class="menu">
  <div class="menu-head" >
    <button nz-button [nzType]="'primary'" (click)="toggleCollapsed()" >
      <i class="anticon" [class.anticon-menu-unfold]="isCollapsed" [class.anticon-menu-fold]="!isCollapsed">
      </i>
    </button>
    <span>新七天产库管理系统</span>
  </div>
  <!--一级菜单-->
  <ul nz-menu [nzMode]="'inline'" nzTheme='dark'  [nzInlineCollapsed]="false" [nzSelectable]="true" class="menu-list">
    <li nz-submenu *ngFor="let menu of menuList" [nzOpen]="menu.select">
      <span title>
        <i class="anticon anticon-appstore"></i>
        <span>{{menu.title}}</span>
      </span>
      <!--二级菜单-->
      <ul>
        <li nz-menu-item *ngFor="let menu1 of menu.childs" [nzSelected]="menu1.select"><a [routerLink]="menu1.link" >{{menu1.title}}</a></li>
      </ul>
    </li>
  </ul>
</div>
