
  <!--条件查询-->
  <app-search [seachArray]="searchArray"  (callBack)="searchData($event)"></app-search>
  <!--操作层-->  
  <app-handle-layout>
        <button nz-button [nzType]="'primary'" (click)="add()">新增员工</button>
  </app-handle-layout>
  <div class="search-result-list">
      <nz-table 
      #productManageTable
      [nzData]="dataList?.results"
      [nzPageSize]="10"
      [nzScroll]="{x:'500px'}"
      [nzShowPagination]="false"
      [nzPageSize] = "dataList?.page_size"
      [nzLoading]="listLoading">
          <thead>
            <tr>
              <th nzWidht="100px" nzLeft="0px">姓名</th>
              <th>员工编号</th>
              <th>年龄</th>
              <th>性别</th>
              <th>家庭住址</th>
              <th>联系电话</th>
              <th>薪资水平</th>
              <th nzWidth="100px" nzRight="0px">操作</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of productManageTable.data">
              <td nzWidht="100px" nzLeft="0px">{{data.name}}</td>
              <td>{{data.code}}</td>
              <td>{{data.age}}</td>
              <td>{{data.gender}}</td>
              <td>{{data.address}}</td>
              <td>{{data.phone}}</td>
              <td>{{data.salary}}</td>
              <td nzRight="0px">
                <nz-tag [nzColor]="'blue'" (click) ="reviseDetail(data.id)">修改</nz-tag>
                <app-comfirm-alert [info]="'删除'" [title]="'是否确认删除该员工'" (callBack)="deleteStaff($event,data.id)"></app-comfirm-alert>
              </td>
            </tr>
          </tbody>
        </nz-table>
        <app-pagination 
        [nzTotal]="dataList?.count || 0" 
        [nzPageSize]="searchObj.page_size"
        (nzPageIndexChange)="changPageIndex($event)" 
        (nzPageSizeChange)="PageSizeChange($event)"></app-pagination>
  </div>
  <!--模态框-->
  <app-drawer [visible]="OpenDraw" (callBack)="dataBack($event)">
      <form nz-form [formGroup]="accountForm">
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label  nzRequired>姓名</nz-form-label>
                <nz-form-control>
                  <nz-input-group>
                    <input nz-input formControlName="name" placeholder="请输入员工姓名">
                  </nz-input-group>
                  <nz-form-explain *ngIf="accountForm.get('name').dirty && accountForm.get('name').errors">请输入员工姓名</nz-form-explain>
                </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label  nzRequired>联系电话</nz-form-label>
                  <nz-form-control>
                      <nz-input-group>
                          <input  formControlName="phone" id="'phoneNumber'" placeholder="请输入电话号码" nz-input>
                        </nz-input-group>
                        <nz-form-explain *ngIf="accountForm.get('phone').dirty && accountForm.get('phone').errors">请输入联系电话</nz-form-explain>
                    </nz-form-control>
                </nz-form-item>
              </div>
          </div>
          <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label nzRequired>员工角色</nz-form-label>
                    <nz-form-control>
                      <nz-select formControlName="role">
                        <nz-option nzValue="super_admin" nzLabel="超级管理员"></nz-option>
                        <nz-option nzValue="admin" nzLabel="管理员"></nz-option>
                        <nz-option nzValue="worker" nzLabel="业务员"></nz-option>
                        <nz-option nzValue="warekeeper" nzLabel="仓库管理员"></nz-option>
                      </nz-select>
                      <nz-form-explain *ngIf="accountForm.get('role').dirty && accountForm.get('role').errors">请选择员工角色</nz-form-explain>
                    </nz-form-control>
                  </nz-form-item>
                </div>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                      <nz-form-label  nzRequired>员工编号</nz-form-label>
                      <nz-form-control>
                          <nz-input-group>
                              <input  formControlName="code" name="code" placeholder="请输入员工编号" nz-input>
                              <nz-form-explain *ngIf="accountForm.get('code').dirty && accountForm.get('code').errors">请输入员工编号</nz-form-explain>
                            </nz-input-group>
                        </nz-form-control>
                    </nz-form-item>
                  </div>
              
          </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="12">
              <nz-form-item>
                <nz-form-label>家庭住址</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="address" placeholder="请输入家庭住址">
                  </nz-form-control>
              </nz-form-item>
            </div>
            <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>年龄</nz-form-label>
                  <nz-form-control>
                    <nz-input-group>
                      <input type="text" formControlName="address" nz-input placeholder="请输入员工年龄">
                    </nz-input-group>
                  </nz-form-control>
                </nz-form-item>
              </div>
          </div>
          <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                  <nz-form-item>
                    <nz-form-label>是否分配仓库</nz-form-label>
                    <nz-select formControlName="depot">
                      <nz-option nzValue="" nzLabel="暂不分配"></nz-option>
                      <nz-option *ngFor="let store of storeList" [nzValue]="store.id" [nzLabel]="store.name"></nz-option>
                    </nz-select>
                  </nz-form-item>
                </div>
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>薪资水平（元/月）</nz-form-label>
                  <nz-form-control>
                      <input nz-input formControlName="salary" placeholder="请输入薪资水平">
                  </nz-form-control>
                </nz-form-item>
              </div>
             
            </div>
            <div nz-row nzGutter="8">
              <div nz-col nzSpan="12">
                <nz-form-item>
                  <nz-form-label>性别</nz-form-label>
                  <nz-radio-group formControlName="gender">
                    <label nz-radio [nzValue]="1">男</label>
                    <label nz-radio [nzValue]="2">女</label>
                  </nz-radio-group>
                </nz-form-item>
              </div>
            </div>
          <div nz-row nzGutter="8">
            <div nz-col nzSpan="24">
              <nz-form-item>
                <nz-form-label>备注</nz-form-label>
                <nz-form-control>
                  <textarea nz-input formControlName="desc" placeholder="请输入描述内容" [nzAutosize]="{ minRows: 4, maxRows: 4 }"></textarea>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </form>
  </app-drawer>