<!--侧面弹窗组件-->
<nz-drawer 
[nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom':'53px' }"
[nzMaskClosable]="maskClose" 
[nzZIndex]="100"
[nzWidth]="width || 720" [nzVisible]="visible" [nzTitle]="title" (nzOnClose)="close()">
   <div class="detail">
     <ng-content></ng-content>
   </div>
    <div class="footer" *ngIf="!NoOperate">
      <button type="button" (click)="close()" class="ant-btn" style="margin-right: 8px;"><span>取消</span></button>
      <button type="button" (click)="submit()" class="ant-btn ant-btn-primary"><span>提交</span></button>
    </div>
  </nz-drawer>